<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <a class="navbar-brand" href="#">Captain Hooks</a>

  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">users</a>
      <a class="nav-item nav-link" href="#">messages</a>
      <a class="nav-item nav-link" href="#">commands</a>
    </div>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle nav-item nav-link">New</a>
      <ul class="dropdown-menu">
        <li><a href="#">new user</a></li>
        <li><a href="#">new command</a></li>
      </ul>
    </li>
  </ul>
</nav>
