<div class="row">
  <div class="w-100">
    <h3>User List</h3>
    <app-alert></app-alert>
    <form (submit)="createUser()">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">username</span>
        </div>
        <input
          name="username"
          type="text"
          [(ngModel)]="username"
          min="4"
          class="form-control"
        />
        <button
          type="submit"
          [disabled]="username.length < 4"
          class="btn btn-success form-control"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
